@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background: #070606; */
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

body .wrapper {
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-size: cover;
  background-position: center center;
}

.sidebar,
.off-canvas-sidebar {
  width: 325px;
  display: block;
  font-weight: 200;
}

.sidebar,
.main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
  transition-property: top, bottom;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: linear, linear;
}

.sidebar .sidebar-wrapper,
.sidebar,
.main-panel,
.main-panel .navbar {
  background: #070606;
}

.main-panel {
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 325px);
  min-height: 100%;
}

.sidebar .sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: 100%;
  overflow: hidden;
  width: 325px;
  z-index: 4;
  box-shadow: rgb(221 221 221) -1px 0px 0px 0px inset;
}

.sidebar::after,
.sidebar::before,
.off-canvas-sidebar::after,
.off-canvas-sidebar::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: rgb(255, 255, 255);
}

.logo {
  height: 10rem;
}

.sidebar .logo,
.sidebar[data-background-color='white'] .logo,
.off-canvas-sidebar .logo,
.off-canvas-sidebar[data-background-color='white'] .logo {
  border-bottom: 1px solid rgba(235, 235, 235, 0.541);
}

.sidebar .logo,
.off-canvas-sidebar .logo {
  padding: 18px 0px;
  margin: 0px 20px;
}

.sidebar .logo-img,
.off-canvas-sidebar .logo-img {
  max-height: 29px;
}

.sidebar .logo .simple-text,
.sidebar[data-background-color='white'] .logo .simple-text,
.off-canvas-sidebar .logo .simple-text,
.off-canvas-sidebar[data-background-color='white'] .logo .simple-text {
  color: white;
}

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 4px 0px;
  display: block;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.logo-img img {
  position: relative;
  top: -40px;
  width: 18rem;
  left: 3.5rem;
  filter: drop-shadow(5px 5px 4px #000000);
}

.sidebar .nav,
.off-canvas-sidebar .nav {
  margin-top: 20px;
}

.nav {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.listMenu {
  margin: 40px;
  font-size: 18px;
}

.listLink {
  display: flex !important;
}

.listLink i {
  margin-right: 10px;
  font-size: 23px;
}

.listMenu.active>a {
  color: #ef9822;
}

.listMenu.active>a::before {
  border-right: 17px solid rgb(244, 243, 239);
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  content: '';
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 8px;
}

.listMenu.active>a::after {
  border-right: 17px solid rgb(244, 243, 239);
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  content: '';
  display: inline-block;
  position: absolute;
  right: -1px;
  top: 8px;
}

.main-panel .navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: rgb(244, 243, 239);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.navbar {
  border: 0px;
  border-radius: 0px;
  font-size: 16px;
}

.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert {
  transition: all 300ms linear 0s;
}

.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 20px;
}

.navbar-nav {
  margin-top: 15px;
  margin-right: 10px;
}

.navbar-default {
  background-color: rgb(244, 243, 239);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.main-panel>.content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}

/* Admin Registration Panal*/
.boxModal {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-18%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  color: black;
  max-width: 80%;
}

.boxModal.active {
  transform: translate(-18%, -50%) scale(1);
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


/*---------------------------------------------- Add Laptop Section-----------------------------------*/
.addQuestions form {
  width: 65em;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  color: white;
}

.addQuestions form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.addQuestions form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.addQuestions form input.error:focus {
  border: none;
}

.addQuestions form input::placeholder {
  color: #e5e5e5;
}

/*----------------------------------------------------------*/
.loginBtn {
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn {
  margin-right: 20px;
  background-color: #fa320f;
  color: white;
}

.passwordVisiblility {
  position: absolute;
  right: 50px;
  bottom: 200px;
  background: none;
  cursor: pointer;
}

.passwordVisiblility i {
  color: #fff;
  font-size: 20px;
}

.contentSelector.active {
  display: block;
}

.contentSelector {
  display: none;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.countingNumber {
  width: 50rem;
  height: 15rem;
  border-radius: 15px;
  background-color: white;
  color: black;
  margin: 5px;
}

.controlSetting {
  display: flex;
  flex-wrap: wrap;
}

.controlSetting button {
  margin: 5px;
}

.controlSetting .searchItmes {
  margin: 5px;
}

.searchItmes {
  display: flex;
  margin: 5px;
}

.controlSetting .searchItmes input {
  width: 65em;
  height: 2.4em;
  border-radius: 5px;
  padding: 5px;
  color: black;
  border: none;
  outline: none;
}

.controlSetting .searchItmes input:focus {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.controlSetting .searchItmes .searchBtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 3.4rem;
  border-radius: 50%;
  height: 3.4rem;
  text-align: center;
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}

.controlSetting .searchItmes .searchBtn:hover {
  background-color: #ef9822;
  color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

/*---------------------------------------------------------Prodduct details----------------------------------*/
.productDtails {
  display: flex;
  align-items: center;
}

.productDtails input:first-child {
  margin-left: 0px;
}

.productDtails input {
  margin-left: 5px;
  margin-right: 5px;
}

/* .productDtails input:last-child {
  margin-right: 0px;
} */

#productAction,
#alterproductAction {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

#productAction option,
#alterproductAction option {
  border: none;
  color: black;
  background: rgba(255, 255, 255, 0.07);
  padding: 0 10px;
}

#priceInText,
#alterpriceInText {
  width: 750rem;
}

.productContainer {
  width: 75%;
}

.productAndImage {
  display: flex;
}

.imageContainer {
  width: 25%;
}

.imageFile {
  margin-top: 8px;
  height: 168px;
  width: 198px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 10px 10px;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;

}

.imageFile img {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------Prooducts--------------------------------------------------------------*/
.products {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  cursor: pointer;
}

.products:first-child {
  margin-bottom: 10px;
}

.products:last-child {
  margin-top: 10px;
}

.specification {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .specification .specs {
  margin-left: 5px;
  margin-right: 5px;
} */
.controlButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.specification .subSpec:nth-child(2) {
  margin-left: 50px;
}

.specification .priceShow {
  margin-left: 50px;
}

.dataShow {
  width: 80%;
}

.dataShow h4 {
  font-size: 30px;
}

.imageShow {
  height: 227px;
  width: 29%;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 5px 5px;
}

.imageShow img {
  height: 100%;
  width: 100%;
}

.priceShow {
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
}

.priceShow h2 {
  font-size: 50px;
  margin-left: 20px;
}

.priceShow h3 {
  font-size: 70px;
}

.dataShow hr {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0));
}

.loader {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  overflow: hidden;
  pointer-events: all;
}

.loader>div {
  height: 100px;
  width: 100px;
  border: 15px solid #45454b;
  border-top-color: #2a88e6;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.insideTemplet {
  height: 10rem;
  width: 45rem;
  background: #eee;
  margin: 10px;
  color: #000000;
  font-family: inherit;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.insideTemplet .value {
  font-size: 40px;
}

hr {
  color: white;
}